/* .footer{
    bottom: 0;
} */

.footer {
  /* background: #111; */
  border-top: 1px solid #333;
  color: rgb(128, 11, 11);
  padding: 40px 20px;
  margin-top: 70px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
}

.footer-column {
  flex: 1;
  min-width: 200px;
}

.footer-logo {
  width: 120px;
  margin-bottom: 10px;
}

.footer-column h3 {
  margin-bottom: 20px;
  font-size: 18px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin: 6px 0;
}

.footer-column ul li a {
  color: rgb(90, 18, 18);
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #333;
  font-size: 14px;
}

