


.card {
  min-width: 280px;
  background: #fff;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 70px;
  height: 337px;
  transition: 0.7s ease;
  margin-top: 10%;
  transform-origin: bottom;
  z-index: 10;
}

.card:hover {
  height: 440px;      
  top: -33px;    
  transform: scale(1.02); 
  transition: 0.5s;
}

  
  
  .card img{
    position: absolute;
    top: -20%;
    transition: top 0.5s ease;
    border-radius: 20px;
    width: 260px;
    height: 200px;
  }

.card:hover #Card_Img{
  top: 5%;
  transition: 0.5s ease;
}

  .card-body {
    width: 90%;
    position: absolute;
    bottom: 10%;

  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-header h3 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .heart {
    font-size: 20px;
    color: #e63946; /* red */
    cursor: pointer;
  }
  
  .card-rating {
    margin: 5px 0;
    display: flex;
    align-items: center;
  }
  
  .star {
    color: #ccc;
    font-size: 18px;
  }
  
  .star.filled {
    color: #ffa500; /* orange-yellow */
  }
  
  .rating-count {
    margin-left: 5px;
    font-size: 14px;
    color: #555;
  }
  
  .card-desc {
    font-size: 14px;
    color: #666;
    margin: 5px 0 10px 0;
  }
  
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .price {
    font-size: 20px;
    font-weight: bold;
    color: #c1121f;
  }
  
  .basket {
    background: #0c8a2a;
    color: white;
    font-size: 20px;
    border: none;
    padding: 9px 14px 3px 14px;
    border-radius: 12px;
    cursor: pointer;
  }
  


  .AdminButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -20px;
    margin-top: 20px;
  }
  #edit{
    background-color: #0c8a2a;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 0px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
  }
  #edit:hover{
    background-color: #097723;
    transform: scale(1.02);

  }
  #delete:hover{
    background-color: #ae0f19;
    transform: scale(1.02);

  }
  #delete{
    background-color: #c1121f;
    width: 100px;
    border: none;
    border-radius: 5px;
    padding: 10px 0px;
    color: white;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
  }

  .heart {
  cursor: pointer;
  font-size: 22px;
  transition: transform 0.2s ease, color 0.2s ease;
  color: #aaa; /* default color */
}

.heart:hover {
  transform: scale(1.2);
}

.heart.liked {
  color: red;
  transform: scale(1.4);
  animation: pop 0.3s ease;
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.6); }
  100% { transform: scale(1.4); }
}
