

body {
  margin: 0;
  background-color: #f4f1ea;
  font-family: "Barlow Condensed", sans-serif;
  height: 100vh;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
