.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
}

/* الصورة فاليسار - لاصقة وملصقة */
.hero-image {
  width: 50%;
  background-size: cover;
  background-position: left;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
}

/* طبقة مظلمة فاليمين فوقها النص */
.hero-overlay {
  width: 50%;
  background: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85));
  display: flex;
  align-items: center;
}

/* محتوى النص */
.hero-content {
  padding: 60px;
  color: white;
}

/* العنوان */
.hero-content h1 {
  font-size: 55px;
  font-weight: 800;
  line-height: 1.1;
}

/* الفقرة */
.hero-content p {
  margin: 20px 0;
  font-size: 18px;
}

/* الزر */
.hero-btn {
  background: #1fa463;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

