.popup-overlay {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999 !important;
  opacity: 0;
  animation: fadeInOverlay 0.3s forwards;
}

@keyframes fadeInOverlay {
  to { opacity: 1; }
}

.popup-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 320px;
  text-align: center;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInBox 0.3s forwards;
}

@keyframes fadeInBox {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel-btn,
.delete-btn {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 45%;
  font-weight: bold;
}

.cancel-btn {
  background: #635b5b;
}
.cancel-btn:hover {
  background-color: #7d7777;
}

.delete-btn {
  background: #c1121f;
  color: white;
}
.delete-btn:hover {
  background-color: rgb(169, 17, 17);
}

.mini-loader {
  width: 18px;
  height: 18px;
  border: 3px solid rgba(255,255,255,0.5);
  border-top-color: white;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  margin: auto;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
