

.Categorie_Card{
    box-shadow: 0px 2px 10px black;
    padding: 20px 40px;
    border-radius: 7px;
    cursor: pointer;
    transition: transform 300ms ease, box-shadow 300ms ease;

}
.Categorie_Card:hover{
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0,0,0,0.4);
    background-color: #c1121f;
}

h3{
    font-size: 20px;
}

.Categorie_Card:hover img{
    transform: scale(1.05);
}
.Categorie_Section{
    display:flex;
    justify-content:space-around;
    margin-top:30px;
    text-align:center;
}

